.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: $color-footer;
  background-image: linear-gradient(
      180deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0) 100%
    ),
    url("../images/background__hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* add height to section */

.hero__title {
  margin-bottom: 30px;
  width: 696px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $color-white;
}

.btn-submit {
  padding: 10px 32px;
  min-width: 216px;

  cursor: pointer;
  border: none;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  color: $color-white;
  background-color: $color-accent;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
