.clients {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.clients__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid $color-logo;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid $color-accent;
  }
}

.clients__icon {
  fill: $color-logo;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .clients__item:hover &,
  .clients__item:focus & {
    fill: $color-accent;
  }
}
