.contacts-list {
  display: flex;
  align-items: center;
}

.contacts-list__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  & + & {
    margin-left: 50px;
  }
}

.contacts-list__logo {
  margin-right: 10px;
  fill: $color-submain;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .contacts-list__item:hover &,
  .contacts-list__item:focus & {
    fill: $color-accent;
  }
}

.contacts-list__link {
  display: block;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: $color-submain;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .contacts-list__item:hover &,
  .contacts-list__item:focus & {
    color: $color-accent;
  }
}
