/*----------------------- Footer email form ----------------------------------------------------- */

.email-notification__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-white;
  line-height: 1.16;
}

.email-form {
  display: flex;
  align-items: center;
  .email-form__input {
    width: 358px;
    margin-right: 12px;
    padding: 15px 16px;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 16px;
    color: $color-white;
  }
}

.btn-email {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  padding: 10px 28px;
  background-color: $color-accent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  .btn-email__text {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06;
    line-height: 1.87;
    color: $color-white;
  }
  .btn-email__icon {
    fill: $color-white;
  }
}
